dateparser==1.1.0
pandas==1.4.0
click==8.1.0
numpy==1.22.2
typer==0.4.1
matplotlib==3.5.1
seaborn==0.11.2
pyyaml==6.0
flask==2.2.2
flask_json==0.3.4
werkzeug==2.2.2
WordCloud== 1.8.1
nltk==3.7
black==22.10.0