<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/demo/infinite-scroll-image-gallery/" />
    <title>Estadísticas de Letterbox</title>
    <meta name="description" content="A brief page description">
    <link rel="stylesheet" href="/static/stylesheets/stylegallery.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="static/scriptgallery.js"></script>
</head>
<body>
	<p>&nbsp;</p>

	<div>
	<h1>Estadísticas de Letterbox</h1>
    <img class="logo" src="static/imgs/logo.png" >
	</div>
	<p style="padding: 10px 20px; text-align: center; font-weight: bold;">Periodo: {{year}}</p>
	<p style="padding: 10px 20px; text-align: center; font-weight: bold;">Usuario: {{user}}</p>

	<div id="gallery">
		{% for plot_file in plot_files %}
			{% if plot_file == 'wordcloud.png' %}
			<p style="padding: 10px 20px; text-align: center; font-weight: bold;">
				Nube de palabras de las reviews</p>
		{% endif %}
		{% if plot_file == 'table_rates.png' %}
			<p style="padding: 10px 20px; text-align: center; font-weight: bold;">
				Películas con mayor y menor votación</p>
		{% endif %}
    	<img src="static/output/{{plot_file}}" alt="{{plot_file}}" alt="image">

		<div>  {{ "-" if not loop.last }} </div>
    	{% endfor %}
	</div>

</body>

</html>